<div class="container-fluid pb-2 footer-contact">
        <div class="container text-white">
            <div class="row">
                <div class="col">
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-square-phone fa-xl m-3 icons"></i>
                            <h4>Phone
                               <br> <span> +91 893-456-4580</span>
                            </h4>
                       
                        </div>                   
                </div>
                <div class="col">
                    <div class="d-flex align-items-center">
                    <i class="fa-solid fa-envelope fa-xl m-3 icons"></i>
                  
                    <h4>Email<br>
                     <span>Yourmail@gmail.com</span></h4>       
                 </div>
                </div>
                <div class="col">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-location-pin fa-xl m-3 icons"></i>
                        <h4>Location<br>
                         <span>1200, Lorem Street, US</span></h4>       
                     </div>
                    
                </div>
            </div>
        </div>    
</div>
<div class="container-fluid">
    <div class="row text-center cpy-right text-white p-3">
        <h6>All Rights Reserved.© 2022 The Food Court</h6>
    </div>
</div>